{
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "camelcase": 0,
    "no-shadow": 0,
    "new-cap": 0,
    "space-infix-ops": 0,
    "eol-last": 2,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-wrap-func": 0,
    "space-after-keywords": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-before-blocks": [2, "always"],
    "brace-style": [2, "1tbs", {"allowSingleLine": true}],
    "consistent-this": [2, "self"],
    "space-return-throw-case": 2,
    "no-process-exit": 0,
    "no-debugger": 1,
    "wrap-regex": 2,
    "strict": [2, "global"],
    "no-multi-spaces": 0
  }
}
